
<div class="mx-auto w-75">
  <div class="margin">
    <h1 class="home-title text-center">Grouping Hours App</h1>
  </div>
  <p class="text-center text-capitalize paragraph"> This application will helps its users to create groups of hours they spent
  working on different projects in their universities which will help them to manage 
  how they use their time </p>
  <div class="d-flex justify-content-center link-1 w-50 mx-auto">
    <%= link_to 'Signup', signup_path, class: 'nav-link btn mx-3 py-3 link' %>
  </div>
</div>