
<div class="mx-auto w-75">
  <div class="margin">
    <h1 class="home-title text-center">Grouping Hours App</h1>
  </div>
  <p class="text-center text-capitalize paragraph"> This application will helps its users to create groups of hours they spent
  working on different projects in their universities which will help them to manage 
  how they use their time </p>
  <div class="d-flex justify-content-center mx-auto user_page mb-3 rounded">
    <%= link_to 'Sign In', login_path, class: 'btn mx-auto d-block link button' %>
  </div>
  <span class="mx-auto d-flex justify-content-center"><%= 'Or'%></span>
  <div class="d-flex justify-content-center mx-auto w-50 green-color rounded">
    <%= link_to 'Signup', signup_path, class: 'btn mx-auto d-block button' %>
  </div>
</div>