/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "font-awesome";

.heading {
  font-size: 2.675em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: capitalize;
}

.title {
  color: #377bc2;
}

.button {
  background-color: #377bc2;
  color: #fff;
}

.head-hour {
  font-size: 16px;
}

.alert-alert {
  @extend .alert-danger;
}

.alert-error {
  @extend .alert-warning;
}

.outline {
  border-color: #f8f9fa;
}

.outline:hover {
  text-decoration: underline;
}
